
.row {
    display: inline-block;
    padding: 10px;
}
.title{
    text-align:  center;
}
.content{
    display: flex;
    flex-direction: row;
    max-height: 80%
}
.container{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: fit-content;
    padding: 20px;

}
.displays{
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    width: fit-content;
    margin: 10px;
    padding: 5px;
}
.results {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    margin: 10px;
}
.item {
    margin: 1px 0;
    width: fit-content;
}
.graphics{
    flex: 1 1 auto;
    align-items: center;
}
svg {
    flex: 1 1 auto;

}